<ion-item no-padding>
    <div [ngStyle]="{'background-image':' url(' + data.featured_image + ')'}" class="featured"></div>
    <section padding class="source">
        <span *ngIf="data.source">{{data.source}} - </span>
        <time>{{data.date | timeAgo}}</time>
    </section>
    <p padding text-wrap class="title" [innerHTML]="data.title.rendered || data.title"></p>
    <button buttonAction name="Read More" [properties]="{TITLE: data.title.rendered || data.title}"
            *ngIf="data.url" ion-button float-left margin-left tappable (tap)="openLink(data.url, data.id)">Read
        More
    </button>
    <button *ngIf="data.better_views <= 100" ion-button outline float-right margin-right disabled>
        <ion-icon name="flame"></ion-icon>
        {{data.better_views}}
    </button>
    <button *ngIf="data.better_views <= 1000 && data.better_views > 100" ion-button outline float-right
            margin-right disabled color="warm">
        <ion-icon name="flame"></ion-icon>
        {{data.better_views}}
    </button>
    <button *ngIf="data.better_views > 1000" ion-button outline float-right margin-right disabled color="hot">
        <ion-icon name="flame"></ion-icon>
        {{data.better_views}}
    </button>
</ion-item>