
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-group:before { content: '\e801'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */