// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// RESETS
ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

img {
  display: block;
}

// HEADER
.toolbar-background {
  background: #FFF;
  border: 0 !important;
}

// CUSTOM LOADER
.custom-spinner-container {
  img {
    height: 40px;
    width: 40px;
    animation: spinner-fade-out 1s linear infinite;
  }
}

// IMAGES
.featured {
  background-size: cover;
  height: 200px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

// NAVIGATION
.navigation {
  margin-top: 20px;
  .description {
    font-size: 0.750em;
    padding-left: 45px;
  }

  i {
    color: map-get($colors, primary);
    padding: 0 5px 0 10px;
  }

  .item-inner {
    border: none !important;
  }
}



