<ion-menu [content]="content">

    <section class="navigation">
        <a *ngFor="let p of pages" menuClose ion-item (click)="openPage(p)" no-padding>
            <ion-icon class="icon" name="{{p.icon}}"></ion-icon>
            <span translate *ngIf="p.title">{{p.title}}</span>
            <p class="description" *ngIf="p.description" translate>{{p.description}}</p>
        </a>
    </section>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>