<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title><img src="./assets/imgs/logo-name.png"/></ion-title>
    </ion-navbar>
    <ion-segment [(ngModel)]="type" (ionChange)="getData(null, true, true)" padding>
        <ion-segment-button buttonAction name="Navigation" [properties]="{title: 'Latest'}"
                            value="posts">
            Latest
        </ion-segment-button>
        <ion-segment-button buttonAction name="Navigation" [properties]="{title: 'Hotest'}"
                            value="hotest">
            Hotest
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content no-padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list *ngIf="device == 'tablet'" no-lines>
        <ion-grid>
            <ion-row>
                <ion-col col-12 col-md-6 col-lg-4 col-xl-3 *ngFor="let post of data">
                    <app-article class="tablet" [data]="post"></app-article>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
    <ion-list *ngIf="device == 'mobile'" no-lines>
        <ng-container no-padding *ngFor="let post of data">
            <app-article class="mobile" [data]="post"></app-article>
        </ng-container>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
