page-news {
  .spinner {
    animation: spinner-fade-out 1s linear infinite;
    background: url("../assets/imgs/logo-clover.png") no-repeat;
    background-size: 28px;
    margin-bottom: 0;
  }
  svg {
    display: none;
  }
  .scroll-content {
    border-top: 0 !important;
  }
}
